<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day of the week</title>
</head>
<body>
    <% if (isWeekend) { %>
        <h1>Hey! It's the weekend, time to have some fun!</h1>
    <% } else { %>
        <h1>Hey! It's a weekday, get to work you lazy muta fuker</h1>
    <% } %>
</body>
</html>