</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% if(locals.year){ %>
    <p>Copyright © <%= year %></p>
  <% } else { %>
      <p>Copyright © WHAT YEAR IS IT, IDK AND IM SCARED!!!!!</p>
    <% } %>
</footer>
</body>

</html>